<table class="table">
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
    </thead>
    <tbody>
      <tr *ngFor="let member of team">
        <td>{{member.name}}</td>
        <td>{{member.age}}</td>
        <td>{{member.role}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="btn-div">
    <button class="btn btn-primary" (click)="firstPage()">First Page</button>
    <button class="btn btn-warning" (click)="lastPage()">Last Page</button>
  </div>
<hr>
  <div class="btn-div">
    <button class="btn btn-primary" (click)="nextPage()">Next Page</button>
    <button class="btn btn-warning" (click)="previousPage()">Previous Page</button>
  </div>

